{% extends "base.html" %}
{% load static %}
{% block content %}   
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Visualization & Analysis</div>
        <div class="intro-heading">BOOST YOUR ESTRO-GENE RESEARCH</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'tools' %}">Get Start!</a>
        <div id="scrolldowntip" class="center movedown">
        <a href="#services">
        <img src="../../../static/base/img/arrows.png" class="down animated fadeInDown infinite small"></a>
        <!--<p class="down animated fadeIn infinite copyright">What is circDraw?</p>-->
      </div>
      </div>
    </div>
  </header>  
  
 
  <!-- Features -->
  <section id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">EstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platformEstroGene Database is a searchable online visualization platform;EstroGene Database is a searchable online visualization platform;EstroGene Database is a searchable online visualization platform;EstroGene Database is a searchable online visualization platform;EstroGene Database is a searchable online visualization platform;EstroGene Database is a searchable online visualization platform</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> -->
              <img class="main-page-icon fa-inverse" src="{% static 'base/img/microarray-icon.jpg' %}" width="100%">
                <!-- <i class="fas fa-eye fa-stack-1x fa-inverse"></i> -->
            </span>

            <a style="color: black" href="{% url 'manual' %}"><h4 class="service-heading">MicroArray Analysis</h4></a>
            <p class="text-muted">Up/down regulation analysis for gene of interests based on MircoArray Datasets</p>
            <img class="manual-img" src="{% static 'base/img/microarray.png' %}" width="100%">
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img class="main-page-icon" src="{% static 'base/img/AZX1bcrSWu2wEwskyDFh_2000px-DNA_sequence.svg.png' %}" width="100%">
            </span>

            <a style="color: black" href="{% url 'manual' %}"><h4 class="service-heading">RNA-seq Analysis</h4></a>
            <p class="text-muted">Up/down regulation analysis for gene of interests based on RNA-seq Datasets</p>
            <img class="manual-img" src="{% static 'base/img/RNAseq.png' %}" height="157px", width="100%">
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img class="main-page-icon" src="{% static 'base/img/chipseq.jpg' %}" width="200%">
            </span>
            <a style="color: black" href="{% url 'manual' %}"><h4 class="service-heading">Chip-seq Analysis</h4></a>
            <p class="text-muted">Up/down regulation analysis for gene of interests based on Chip-seq Datasets</p>
            <img class="manual-img" src="{% static 'base/img/RNAseq.png' %}" height="157px", width="100%">
            </div>
        </div>
        </div>
        <div class="get-start-2"><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'tools' %}">Get Start!</a></div>
        
    </section>
  {% endblock %}

